
<div id="home" class="big-bg">
  <div class="home-content wrapper">
    <p class="home-title">Welcome To Our House</p>
      <button type="button" class="btn btn-info">メニュー</button>
  </div>
</div>

<%= javascript_include_tag 'top' %>