  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <main>
        <div id="home" class="big-bg">
          <div class="home-content wrapper">
            <p class="home-title mast__title js-spanize">Welcome To Our House</p>
          </div><!-- /.home-content -->
        </div><!-- /#home -->
      </main>
      <%= javascript_include_tag 'top' %>
  </body>
