<h1 class="center-title">宿泊料金</h1>

<table class="table table-striped">
  <tr>
    <th>一泊二食</th>
    <td>10,000円</td>
  </tr>
  <tr>
    <th>一泊三食（弁当付き）</th>
    <td>12,000円</td>
  </tr>
  <tr>
    <th>一泊夕食のみ</th>
    <td>9,000円</td>
  </tr>
  <tr>
    <th>一泊朝食のみ</th>
    <td>8,000円</td>
  </tr>
  <tr>
    <th>素泊まり</th>
    <td>7,000円</td>
  </tr>
</table>
