<div class="container">
  <% @page_title = @entry.title %>
  <h1><%= @entry.title %></h1>

  <table class="attr">
    <tr>
      <th width="100">タイトル</th>
      <td><%= @entry.title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= sanitize(@entry.body) %></td>
    </tr>
    <tr>
      <th>掲載開始日時</th>
      <td><%= @entry.posted_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
  </table>
</div>
