<div class="container">
  <% @page_title = @entry.title %>
  <h1><%= @entry.title %></h1>
  <p><%= @entry.posted_at.strftime("%Y/%m/%d %H:%M") %></p>

  <table class="attr">
    <tr>
      <td><%= sanitize(@entry.body) %></td>
    </tr>
  </table>

  <%= link_to '戻る', entries_path %>
</div>
