<h1 class="center-title">ニュース</h1>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <% @articles.each do |article| %>
              <div class="box27">
                <span class="box-title"><%= article.released_at.strftime("%Y/%m/%d") %></span>
                  <h2>
                    <%= link_to article.title, article, class: "post-title" %>
                  </h2>
              </div>
            </a>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <ul class="pagination">
    <%= paginate @articles %>
  </ul>

</div>
