<%= image_tag 'mountain_header.jpg', class: "header_img" %>
<section class="page_ttl pt-60">
  <h1 class="center-title gfont">NEWS</h1>
  <p class="sub_ttl text-center">ニュース</p>
</section>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <% @articles.each do |article| %>
              <table class="articletable">
                <th class="articletable_day"><%= article.released_at.strftime("%Y/%m/%d") %></th>
                <td class="articletable_ttl"><%= link_to article.title, article, class: "post-title" %></td>
              </table>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <ul class="pagination">
    <%= paginate @articles %>
  </ul>

</div>
