<body class="blog">
  <div id="blog-container">
    <header>
      <%= render "shared/header" %>
    </header>
    <main>
      <div class="blogmain">
        <%= render "blog/content" %>
      </div>
    </main>
    <aside id="sidebar">
      <%= render "shared/sidebar" %>
    </aside>
  </div>
</body>
