<div class="inquiry-form">
  <h1 class="center-title">お問い合わせ</h1>
    <div class="container">
      <p class="thanks-message">お問い合わせいただきありがとうございました。<br>
        回答をお待ちください。
      </p>
    </div>
</div>
