<div class="container">
  <% @page_title = "マイアカウント" %>
  <h1><%= @page_title %></h1>

  <div class="text-right">
    <%= link_to "アカウント情報の編集", :edit_account %> |
    <%= link_to "パスワードの変更", :edit_password %>
  </div>

  <%= render "members/body" %>
</div>
